body {
    background-color: #311B92; /* Cor roxa escura */
    color: white; /* Cor do texto */
}

h3{
    margin: 10px 0;
}

/* Media query para telas de até 600px de largura (dispositivos móveis) */
@media (max-width: 600px) {
    body {
        background-color: #311B92; /* Cor roxa escura */
        color: white; /* Cor do texto */
        padding: 10px;
    }

    h1, h3, p, h4 {
        text-align: center;
    }

    label {
        display: block;
    }
    h4, h1{
        margin: 0;
        margin-bottom: 2px;
    }
    .botao-enviar{
        display: block;
        margin: 0 auto;
    
    }
}
